body {
	font-family: 'Archivo', sans-serif;
	font-size: 16px;
	font-weight: 500;
	margin: 0;
	color: #181818;
}

h1, h2, h3, h4, h5 {
	font-weight:  500;
}

a {
	color: #3E67F8;
}

header {
	text-align: center;
}

footer {
	text-align: center;
	/*background: #f8f8f8;*/
}

footer .container-content {
	border-top: 2px solid #f8f8f8;
}

.container-body {
	min-height: calc(100vh - 137px - 118px);
}

.container-content {
	padding:  30px 60px;
	max-width: 920px;
	margin:  0 auto;
}

#search,
.container-search {
	width:  100%;
	border: 2px solid #181818;
	border-radius: 6px;
	box-sizing: border-box;
	font-size: 26px;
}

.container-search input[type="text"] {
	width:  calc(100% - 140px);
	border: none;
	border-radius: 6px;
	box-sizing: border-box;
	font-size: 26px;
	padding: 10px 20px;
}

.container-search input[type="text"]:focus {
	outline: none !important;
}

.container-search button[type="submit"] {
	font-size: 20px;
	text-transform: uppercase;
	background: #3E67F8;
	color: white;
	border:  none;
	border-radius: 3px;
	padding: 12px 20px;
	width: 140px;
	box-sizing: border-box;
	margin-left: -7px;
	display: inline-block;
	position: relative;
	top: -2px;
	letter-spacing: 1px;
	cursor: pointer;
	transition: opacity 250ms;
}

.container-search button[type="submit"]:hover {
	opacity:  0.8;
}

#results,
.container-results {
	padding-top: 60px;
}

.container-results-lists {
	overflow: auto;
}

.container-results-lists .col {
	float:  left;
	width: calc(50%);
	box-sizing: border-box;
}

.container-results-lists .col.col-1 {
	padding-right: 20px;
}

.container-results-lists .col.col-2 {
	padding-left: 20px;
}

.availability {
	border-radius: 6px;
	border:  2px solid #181818;
	overflow: hidden;
	text-decoration: none;
	height: 40px;
	position:  relative;
	padding:  0 40px 0 40px;
	display:  block;
	margin-bottom: 10px;
}

.availability.domain {
	
}

.availability.username {

}

.availability.username .icon {
	background: #3E67F8;
	width: 40px;
	position:  absolute;
	left: 0;
	top: 0;
}

.availability.username .icon svg {
	width: 20px;
	height:  20px;
	padding: 10px;
	fill: white;
	color: white;
}

.availability.username .username {
	line-height:  20px;
	color:  #181818;
	font-size: 18px;
	padding: 10px 0 10px 15px;
}

.availability.username .status {
	background: white;
	width: 40px;
	position:  absolute;
	right: 0;
	top: 0;
}

.availability.username .status svg {
	width: 24px;
	height:  24px;
	padding: 8px;
	
}

.availability.username .status.loading svg {
	animation: rotation 2s infinite linear;
	fill: #181818;
	color: #181818;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

.availability.username .status.available svg {
	fill: #6acd3f;
	color: #6acd3f;
}

.availability.username .status.unavailable svg {
	fill: #e80e09;
	color: #e80e09;
}


